$gray-dark: #dbdfe4;
$gray-light: #ebeef2;
$background-gray: #f8f9fa;
$ruby-on-rails-red: #c00;
$logo-blue: #27c3db;

$blue: #bbdefb;
$blue-light: #e3f2fd; // 50
$blue-100: #bbdefb; // 100
$blue-200: #90caf9; // 200
$blue-300: #64b5f6; // 300
$blue-400: #42a5f5; // 400
$blue-500: #2196f3; // 500
$blue-600: #1e88e5; // 600
$blue-700: #1976d2; // 700
$blue-800: #1565c0; // 800

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.post-container {
  h1 {
    color: rgba(0, 0, 0, 0.84);
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 40px;
    margin-bottom: 10px !important;
  }

  img.post-image {
    padding: 30px 0px;
  }

  p.author {
    font-size: 18px;
  }
}

.post-body {
  margin-bottom: 40px;

  hr {
    margin: 4px 0px !important;
  }

  h3,
  h4,
  p {
    color: rgba(0, 0, 0, 0.84);
  }

  h3 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
    margin-top: 0px;
  }

  h4 {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 4px;
    margin-top: 32px;
  }

  p {
    font-size: 17px;
    font-family: "PT Serif", serif;
    line-height: 1.53;
    letter-spacing: -0.005em;
    font-weight: 400;
    font-style: normal;
  }

  p + h3 {
    margin-top: 34px;
  }

  h3 + p {
    margin-top: 4px;
  }

  img {
    width: 100%;
  }

  img + p {
    margin-top: 20px;
  }

  p + pre {
    margin-top: 20px !important;
  }

  pre {
    overflow: auto !important;
    -ms-word-wrap: normal !important;
    word-wrap: normal !important;
    overflow-wrap: normal !important;
    white-space: pre !important;

    margin-bottom: 18px !important;
    background-color: #f6fbfc !important;
    padding: 10px !important;
  }

  hr + pre {
    margin-top: 8px !important;
  }

  blockquote {
    font-size: 1.4em;
    width: 100%;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 45px;
    border-left: 8px solid $logo-blue;
    line-height: 1.6;
    position: relative;
    background: $blue-light;

    p {
      font-size: 22px;
      font-family: Open Sans;
      margin: 0px;
    }
  }

  // blockquote::before {
  //   font-family: Arial;
  //   content: "\201C";
  //   color: $logo-blue;
  //   font-size: 4em;
  //   position: absolute;
  //   left: 10px;
  //   top: -10px;
  // }

  blockquote::after {
    content: "";
  }

  blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }
}

.share-container {
  margin-bottom: 8px;
  .SocialMediaShareButton {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;

    div:hover {
      cursor: pointer;
    }
  }
}

.comment-container {
  h5 {
    margin-bottom: 0px;
    display: none;
  }
}


@media (max-width: 492px) {
  .share-container {
    margin-bottom: 20px;
    h5 {
      padding-left: 5px;
    }
    
    .SocialMediaShareButton {
      margin: 0px;
      padding: 5px;
      width: 25% !important;


      div:hover {
        cursor: default;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .post-container {
    width: 100%;

    h1 {
      margin-top: 20px;
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 0px !important;
    }

    h3 {
      font-size: 26px;
    }

    blockquote {
      padding-left: 30px;
      p {
        font-size: 18px;
      }
    }
  }

  .comment-container {
    h5 {
      display: block;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .post-container {
    width: 725px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .post-container {
    width: 725px;
  }
}

@media (min-width: $screen-lg-min) {
  .post-container {
    width: 725px;
  }
}
