$gray-dark: #dbdfe4;
$gray-light: #ebeef2;
$background-gray: #f8f9fa;
$ruby-on-rails-red: #c00;
$logo-blue: #27c3db;

$blue: #bbdefb;
// 50
$blue-light: #e3f2fd;
// 100
$blue-100: #bbdefb;
// 200
$blue-200: #90caf9;
// 300
$blue-300: #64b5f6;
// 400
$blue-400: #42a5f5;
// 500
$blue-500: #2196f3;
// 600
$blue-600: #1e88e5;
// 700
$blue-700: #1976d2;
// 800
$blue-800: #1565c0;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;


.postContainer {
  h1 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 40px;
    margin-bottom: 5px !important;
  }
}

.postBody {
  h3 {
    font-weight: 600;
    font-size: 28px;
  }

  p {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    line-height: 1.43;
    letter-spacing: -0.005em;
    font-weight: 400;
    font-style: normal;
  }

  p + h3 {
    margin-top: 40px;
  }

  img {
    width: 100%;
  }

  img + p {
    margin-top: 20px;
  }

  p + pre {
    margin-top: 20px !important;
  }

  pre {
    margin-bottom: 20px;
  }

}

.post-body {
  padding-top: 25px;
  margin-bottom: 7px;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0px;
    margin-top: 18px;
  }

  // pre {
  //   border: none;
  //   border-radius: 5px;
  //   // background-color: rgb(244, 249, 255); // #f4f9ff
  //   // background-color: rgba(37, 131, 250, 0.05);
  //   background-color: $blue-light;
  //   margin-top: 16px;
  //   padding: 7px;
  //   padding-left: 10px;
  // }

  // pre {
  //   border-radius: 5px;
  //   -moz-border-radius: 5px;
  //   -webkit-border-radius: 5px;
  //   border: 1px solid #bcbec0;
  //   background: #f1f3f5;
  //   font: 12px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  // }

  // code {
  //   border-radius: 5px;
  //   -moz-border-radius: 5px;
  //   -webkit-border-radius: 5px;
  //   border: 1px solid #bcbec0;
  //   padding: 2px;
  //   font: 12px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  // }

  // pre code {
  //   border-radius: 0px;
  //   -moz-border-radius: 0px;
  //   -webkit-border-radius: 0px;
  //   border: 0px;
  //   padding: 2px;
  //   font: 12px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  // }

  img {
    width: 100%;
  }

  blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 25px;
    margin: 20px 0;
    position: relative;
    background-color: $blue-light;

    /*Font*/
    line-height: 1.3;

    /*Borders - (Optional)*/
    border-left: 5px solid $blue-700;

    /*Box Shadow - (Optional)*/
    // -moz-box-shadow: 2px 2px 15px #ccc;
    // -webkit-box-shadow: 2px 2px 15px #ccc;
    // box-shadow: 2px 2px 15px #ccc;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      background: #eee;
      cursor: pointer;
      padding: 0 3px;
      color: #c76c0c;
    }

    em {
      font-style: italic;
    }

    // &:hover{
    //  color: #666;
    // }

    &::after {
      /*Reset to make sure*/
      content: "";
    }
  }

  ul {
    margin-bottom: 20px;
  }

  p + ul {
    margin-top: 14px;
    li {
      font-size: 1.03rem;
      margin-bottom: 5px;
      font-weight: 450;
    }
  }

  p {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 1.138rem;
  }

  p + p {
    margin-top: 20px;
  }

  h3 + p {
    margin-top: 7px;
  }

  h4 + p {
    /* p with a h4 above it */
    margin-top: 5px;
  }

  h4 + div.CodeRay {
    pre {
      margin-top: 16px;
    }
  }

  div.CodeRay + p {
    margin-top: 0px;
  }

  h5 + p {
    /* p with a h5 above it */
    margin-top: 5px;
  }

  p + table {
    margin-bottom: 20px;
  }
}

@media (max-width: $screen-xs-max) {
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

@media (min-width: $screen-lg-min) {
}
