$gray-dark: #dbdfe4;
$gray-light: #ebeef2;
$background-gray: #f8f9fa;
$ruby-on-rails-red: #c00;
$logo-blue: #27c3db;

$blue: #bbdefb;
// 50
$blue-light: #e3f2fd;
// 100
$blue-100: #bbdefb;
// 200
$blue-200: #90caf9;
// 300
$blue-300: #64b5f6;
// 400
$blue-400: #42a5f5;
// 500
$blue-500: #2196f3;
// 600
$blue-600: #1e88e5;
// 700
$blue-700: #1976d2;
// 800
$blue-800: #1565c0;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.postContainer {
  h1 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 40px;
    margin-bottom: 5px !important;
  }
}

.postBody {
  margin-bottom: 40px;

  hr {
    margin: 4px 0px !important;
  }

  h3 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 6px;
    margin-top: 0px;
  }

  h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 4px;
    margin-top: 24px;
  }

  p {
    font-size: 18px;
    font-family: "PT Serif", serif;
    line-height: 1.43;
    letter-spacing: -0.005em;
    font-weight: 400;
    font-style: normal;
  }

  p + h3 {
    margin-top: 34px;
  }

  img {
    width: 100%;
  }

  img + p {
    margin-top: 20px;
  }

  p + pre {
    margin-top: 20px !important;
  }

  pre {
    margin-bottom: 18px !important;
    background-color: #F6FBFC !important;
    padding: 10px !important;
  }

  hr + pre {
    margin-top: 4px !important;
  }

  blockquote {
    font-size: 1.4em;
    width: 100%;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $logo-blue;
    line-height: 1.6;
    position: relative;
    background: $blue-light;

    p {
      font-size: 22px;
      font-family: Open Sans;
      margin-bottom: 0px;
    }
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $logo-blue;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }
}

@media (max-width: $screen-xs-max) {
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

@media (min-width: $screen-lg-min) {
}
